body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 420px;
    text-align: center;
}

.task-input {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: #2a5298;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
    list-style: none;
    background: #f1f1f1;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

hr {
    margin: 20px 0;
}

#timer {
    font-size: 40px;
}

.focus-active {
    background-color: black !important;
    color: white !important;
}

.focus-active .container {
    transform: scale(1.1);
}